.filter{
    background-color: darkslategray;
    height: 70px;
    width: 1160px;
    margin-left:40px;
    margin-top: -40px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5px;

}

input{
    width:200px;
    margin-left: 20px;
}